.bg-color {
    background-color:#189ff0;    
    height: 60px;
    bottom: 0;
    padding: 1rem;
    

  }

  img.mern {
  width: 6%;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
  border: solid black .5px;

  }

  .byline {
    margin-top: 2rem;
    font-family: 'Special Elite';
  }